<table class="table table-bordered" style="table-layout: fixed;">
    <thead>
        <tr>
            <th>PID</th>
            <th>进程名</th>
            <th>Victim Function</th>
            <th>Hook类型</th>
            <th>Hooking模块</th>
        </tr>
    </thead>
    <tbody>
    {% for hook in analysis.memory.apihooks.data %}
        <tr>
            <td>{{hook.process_id}}</td>
            <td>{{hook.process_name}}</td>
            <td>{{hook.victim_function}}</td>
            <td>{{hook.hook_type}}</td>
            <td>{{hook.hooking_module}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
