<table class="table table-bordered" style="table-layout: fixed;">
    <thead>
        <tr>
            <th>偏移量</th>
            <th>PID</th>
            <th>本地地址</th>
            <th>本地端口</th>
            <th>协议</th>
            <th>创建时间</th>
        </tr>
    </thead>
    <tbody>
    {% for sock in analysis.memory.sockscan.data %}
        <tr>
            <td>{{sock.offset}}</td>
            <td>{{sock.process_id}}</td>
            <td>{{sock.address}}</td>
            <td>{{sock.port}}</td>
            <td>{{sock.protocol}}</td>
            <td>{{sock.create_time}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
