{% extends "base.html" %}
{% block content %}
<style>
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}
input[readonly] {
    background-color: white !important;
    cursor: text !important;
}
</style>
<script type='text/javascript'>
$(document)
    .on('change', '.btn-file :file', function() {
        var input = $(this),
        numFiles = input.get(0).files ? input.get(0).files.length : 1,
        label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
        input.trigger('fileselect', [numFiles, label]);
});

$(document).ready( function() {
    $('.btn-file :file').on('fileselect', function(event, numFiles, label) {

        var input = $(this).parents('.input-group').find(':text'),
            log = numFiles > 1 ? numFiles + ' files selected' : label;

        if( input.length ) {
            input.val(log);
        } else {
            if( log ) alert(log);
        }

    });
    $('.nav-tabs a').on('show.bs.tab', function (event) {
        var tabname = $(event.target).text()
        if (tabname == " PCAP" || tabname == " Static") {
            document.getElementById('non-pcap-1').style.display = "none";
            document.getElementById('non-pcap-2').style.display = "none";
        } else {
            document.getElementById('non-pcap-1').style.display = "block";
            document.getElementById('non-pcap-2').style.display = "block";
        }
    });
});
</script>
<div class="row">
    <div class="col-md-6 col-md-offset-3 center">
        <form role="form" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="tabbable">
                <ul class="nav nav-tabs">
                    {% if resubmit %}
                        <li class="active"><a href="#resubmit" data-toggle="tab"><span class="glyphicon glyphicon-file"></span> 文件重新提交</a></li>
                    {% else %}
                        <li class="active"><a href="#file" data-toggle="tab"><span class="glyphicon glyphicon-file"></span> 文件</a></li>
                        {% if config.vt %}
                            <li><a href="#vtdl" data-toggle="tab"><span class="glyphicon glyphicon-cloud-download"></span>VirusTotal</a></li>
                        {% endif %}
                        <li><a href="#quarantine" data-toggle="tab"><span class="glyphicon glyphicon-fire"></span>病毒分析</a></li>
                        {% if config.url_analysis %}
                            <li><a href="#url" data-toggle="tab"><span class="glyphicon glyphicon-globe"></span> URL</a></li>
                        {% endif %}
                        {% if config.dlnexec %}
                            <li><a href="#dlurl" data-toggle="tab"><span class="glyphicon glyphicon glyphicon-download-alt"></span> DL&Exec</a></li>
                        {% endif %}
                        <li><a href="#pcap" data-toggle="tab"><span class="glyphicon glyphicon-transfer"></span> PCAP</a></li>
                        <li><a href="#static" data-toggle="tab"><span class="glyphicon glyphicon-tasks"></span> 静态 </a></li>
                    {% endif %}
                </ul>
                <div class="tab-content">
                    {% if resubmit %}
                        <div class="tab-pane fade in active" id="resubmit">
                            <div class="input-group col-md-12">
                                <label class="sr-only" form="form_resubmission"> 文件重新提交</label>
                                <input type="text" class="form-control" id="form_resubmission" name="hash" value="{{resubmit}}" />
                            </div>
                        </div>
                    {% else %}
                        <div class="tab-pane fade in active" id="file">
                            <div class="input-group col-md-6">
                                <span class="input-group-btn">
                                    <input type="text" class="form-control" readonly>
                                    <span class="btn btn-default btn-file">
                                        Select <input type="file" name="sample" multiple="multiple">
                                    </span>
                                </span>
                            </div>
                        </div>
                        {% if config.vt %}
                        <div class="tab-pane fade" id="vtdl">
                            <div class="input-group col-md-12">
                                <label class="sr-only" form="form_vtdl"> VirusTotal</label>
                                <input type="text" class="form-control" id="form_vtdl" name="vtdl" placeholder="Enter comma separated hashes or just a hash" />
                            </div>
                        </div>
                        {% endif %}
                        <div class="tab-pane fade" id="quarantine">
                            <div class="input-group col-md-6">
                                <span class="input-group-btn">
                                    <input type="text" class="form-control" readonly>
                                    <span class="btn btn-default btn-file">
                                        Select <input type="file" name="quarantine" multiple="multiple">
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="url">
                            <div class="input-group col-md-12">
                                <label class="sr-only" form="form_url">URL</label>
                                <input type="text" class="form-control" id="form_url" name="url" placeholder="URL" />
                            </div>
                        </div>
                        {% if config.dlnexec %}
                        <div class="tab-pane fade" id="dlurl">
                            <div class="input-group col-md-12">
                                <label class="sr-only" form="form_url">URL</label>
                                <input type="text" class="form-control" id="form_url" name="dlnexec" placeholder="URL to download sample from" />
                            </div>
                        </div>
                        {% endif %}
                        <div class="tab-pane fade" id="pcap">
                            <div class="input-group col-md-6">
                                <span class="input-group-btn">
                                    <input type="text" class="form-control" readonly>
                                    <span class="btn btn-default btn-file">
                                        Select <input type="file" name="pcap" multiple="multiple">
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="static">
                            <div class="input-group col-md-6">
                                <span class="input-group-btn">
                                    <input type="text" class="form-control" readonly>
                                    <span class="btn btn-default btn-file">
                                        Select <input type="file" name="static" multiple="multiple">
                                    </span>
                                </span>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="panel" id="accordion" style="margin-top: 20px;">
                <div class="panel panel-default" style="margin-bottom: 0px;">
                    <div class="panel-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#options"><i class="icon icon-cog"></i> Advanced Options</a>
                    </div>
                    <div id="options" class="panel-collapse collapse in" style="text-align: left;">
                        <div class="panel-body">
                            <div id="non-pcap-1">
                                <div class="form-group">
                                    <label for="form_package">包分析</label>
                                    <select class="form-control" id="form_package" name="package">
                                        <option value="" active>智能检测</option>
                                        {% for package in packages %}
                                        <option value="{{package}}">{{package}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                {% if not config.dist_master_storage_only %}
                                    <div class="form-group">
                                        <label for="form_machine">选择机器</label>
                                        <select class="form-control" id="form_machine" name="machine">
                                            {% for id,label in machines %}
                                            <option value="{{id}}">{{label}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                {% endif %}
                                {% if config.tags and tags %}
                                <div class="form-group">
                                    <label for="form_tags">机器标签 (<a href="#tagshelp" data-toggle="collapse">帮助</a>)</label>
                                    <input type="text" class="form-control" id="form_tags" name="tags" value=""/>
                                    <div id="tagshelp" class="collapse">
                                        <p class="text-muted" style="margin-top: 10px;">语法是 tag1,tag2,tag3,等等</p>
                                        <table class="table table-striped table-centered">
                                            <thead>
                                                <tr>
                                                    <th style="text-align: center;">标签</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for tag in tags %}
                                                <tr>
                                                    <td><code>{{tag}}</code></td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                {% endif %}
                                <div class="form-group">
                                    <strong>网络的路由通过<i>dirty line</i> 或者 VPN</strong>
                                </div>
                                <div class="form-group">
                                    <select class="form-control" id="form_route" name="route">
                                        {% if internet != "none" %}
                                            <option value="internet"{% if route == "internet" %} selected{% endif %}>Internet (dirty line, {{ internet }})</option>
                                        {% endif %}
                                        {% if inetsim %}
                                            <option value="inetsim">inetsim/fakenet-ng</option>
                                        {% endif %}
                                        {% if tor %}
                                            <option value="tor">tor</option>
                                        {% endif %}
                                        {% for vpn in vpns %}
                                            <option value="{{ vpn.name }}"{% if route == vpn.name %} selected{% endif %}>{{ vpn.description }} (VPN, {{ vpn.interface }})</option>
                                        {% endfor %}
                                        {% for socks5 in socks5s|dictsort:"0.lower" %}
                                            <option value="{{ socks5.name }}"{% if route == socks5.name %} selected{% endif %}>{{ socks5.description }} (socks5)</option>
                                        {% endfor %}
                                        {% if socks5s_random %}
                                            <option value="{{socks5s_random}}" selected>{{socks5s_random}} (socks5)</option>
                                        {% endif %}
                                        <option value="none" >Drop all VM traffic</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="form_timeout">Timeout (in seconds)</label>
                                    <input type="text" class="form-control" id="form_timeout" name="timeout" value="200"/>
                                </div>
                                <div class="form-group">
                                    <label for="form_options">选项 (<a href="#optionwindowshelp" data-toggle="collapse">帮助</a>)</label>
                                    <div id="optionwindowshelp" class="collapse">
                                        <p class="text-muted" style="margin-top: 10px;">语法: option1=val1,option2=val2,option3=val3, 等等.</p>
                                        <table class="table table-striped table-centered">
                                            <thead>
                                                <tr>
                                                    <th style="text-align: center;">Option</th>
                                                    <th style="text-align: center;">Description</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><code>文件名</code></td>
                                                    <td>文件重命名</td>
                                                </tr>
                                                <tr>
                                                    <td><code>name</code></td>
                                                    <td>这将强制家庭提取程序运行，例如：name = trickbot</td>
                                                </tr>
                                                <tr>
                                                    <td><code>curdir</code></td>
                                                    <td>更改执行示例的位置，默认情况下为％TEMP％，例如：curdir =％APPDATA％或curdir =％APPDATA％\ Microsoft \ Windows \ Start Menu \ Programs \ Startup
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><code>free</code></td>
                                                    <td>在没有监视的情况下运行（禁用许多功能）例如：free = 1</td>
                                                </tr>
                                                <tr>
                                                    <td><code>force-sleepskip</code></td>
                                                    <td>覆盖默认的睡眠跳过行为：0禁用所有睡眠跳过，1跳过所有睡眠。</td>
                                                </tr>
                                                <tr>
                                                    <td><code>full-logs</code></td>
                                                    <td>默认情况下，禁止在网络活动之前进行URL分析的日志，以及在访问有关非可执行格式的文件之前的日志。</font><font style="vertical-align: inherit;">设置为1以禁用日志抑制。</td>
                                                </tr>
                                                <tr>
                                                    <td><code>force-flush</code></td>
                                                    <td>出于性能原因，在将日志发送回结果服务器之前先对其进行缓冲。</font><font style="vertical-align: inherit;">我们会尽一切努力在关键点刷新缓冲区，包括在发生异常时，但是在某些罕见的终止方案中，日志可能会丢失。</font><font style="vertical-align: inherit;">设置为1以在调用任何非重复的API后强制刷新日志缓冲区，设置为2以强制刷新每个日志。</td>
                                                </tr>
                                                <tr>
                                                    <td><code>no-stealth</code></td>
                                                    <td>设置为1以禁用默认情况下启用的防虚拟机/沙盒代码。</td>
                                                </tr>
                                                <tr>
                                                    <td><code>buffer-max</code></td>
                                                    <td>当设置为您选择的整数时，更改可为大多数API缓冲区记录的最大字节数。</td>
                                                </tr>
                                                <tr>
                                                    <td><code>large-buffer-max</code></td>
                                                    <td>一些挂钩的API允许记录更大的缓冲区。</font><font style="vertical-align: inherit;">要更改此限制，请将其设置为您选择的整数。</td>
                                                </tr>
                                                <tr>
                                                    <td><code>norefer</code></td>
                                                    <td>执行网址分析时，禁止使用伪造的引荐来源网址</td>
                                                </tr>
                                                <tr>
                                                    <td><code>file</code></td>
                                                    <td>使用zip或rar软件包时，设置要执行的文件名</td>
                                                </tr>
                                                <tr>
                                                    <td><code>password</code></td>
                                                    <td>使用zip或rar软件包时，设置用于提取的密码。</font><font style="vertical-align: inherit;">在分析受密码保护的Office文档时也使用。</td>
                                                </tr>
                                                <tr>
                                                    <td><code>function</code></td>
                                                    <td>使用dll软件包时，设置要执行的导出函数的名称</td>
                                                </tr>
                                                <tr>
                                                    <td><code>dllloader</code></td>
                                                    <td>使用dll程序包时，设置加载DLL的进程的名称（默认为rundll32.exe）。</td>
                                                </tr>
                                                <tr>
                                                    <td><code>arguments</code></td>
                                                    <td>使用dll，exe或python软件包时，请设置要传递给可执行文件或导出函数的参数。</td>
                                                </tr>
                                                <tr>
                                                    <td><code>appdata</code></td>
                                                    <td>使用exe软件包时，设置为1可以在Application Data路径而不是Temp目录中运行可执行文件。</td>
                                                </tr>
                                                <tr>
                                                    <td><code>startbrowser</code></td>
                                                    <td>将此选项设置为1将在30秒内启动浏览器（对于某些银行木马很有用）。</td>
                                                </tr>
                                                <tr>
                                                    <td><code>browserdelay</code></td>
                                                    <td>设置使用startbrowser选项启动浏览器之前要等待的秒数。</font><font style="vertical-align: inherit;">默认为30秒。</td>
                                                </tr>
                                                <tr>
                                                    <td><code>url</code></td>
                                                    <td>与startbrowser选项一起使用时，这将确定启动的浏览器将访问的URL。</td>
                                                </tr>
                                                <tr>
                                                    <td><code>debug</code></td>
                                                    <td>设置为1以启用报告分析期间发生的关键异常，设置为2以启用报告所有异常。</td>
                                                </tr>
                                                <tr>
                                                    <td><code>disable_hook_content</code></td>
                                                    <td>设置为1以除去所有挂钩的功能，但对于监视其他进程至关重要的挂钩除外。</font><font style="vertical-align: inherit;">设置为2可应用于所有钩子。</td>
                                                </tr>
                                                <tr>
                                                    <td><code>hook-type</code></td>
                                                    <td>仅对32位分析有效。</font><font style="vertical-align: inherit;">指定要使用的挂钩类型：直接，间接或安全。</font><font style="vertical-align: inherit;">安全尝试绕弯道样式的挂钩。</td>
                                                </tr>
                                                <tr>
                                                    <td><code>serial</code></td>
                                                    <td>欺骗系统卷的序列作为提供的十六进制值</td>
                                                </tr>
                                                <tr>
                                                    <td><code>single-process</code></td>
                                                    <td>设置为1时，这会将行为监视限制为仅初始过程。</td>
                                                </tr>
                                                <tr>
                                                    <td><code>exclude-apis</code></td>
                                                    <td>排除钩子冒号分隔的API列表</td>
                                                </tr>
                                                <tr>
                                                    <td><code>exclude-dlls</code></td>
                                                    <td>从挂钩中排除冒号分隔的DLL列表</td>
                                                </tr>
                                                <tr>
                                                    <td><code>compression</code></td>
                                                    <td>设置为1时，将启用CAPE提取压缩的有效负载</td>
                                                </tr>
                                                <tr>
                                                    <td><code>extraction</code></td>
                                                    <td>设置为1时，将启用CAPE从每个进程中提取有效负载</td>
                                                </tr>
                                                <tr>
                                                    <td><code>injection</code></td>
                                                    <td>设置为1时，将启用CAPE捕获进程之间注入的有效负载</td>
                                                </tr>
                                                <tr>
                                                    <td><code>combo</code></td>
                                                    <td>这将压缩，注入和提取与过程转储结合在一起</td>
                                                </tr>
                                                <tr>
                                                    <td><code>dump-on-api</code></td>
                                                    <td>使用使用冒号分隔的API列表中的函数时转储调用模块（需要DumpOnAPI包）</td>
                                                </tr>
                                                <tr>
                                                    <td><code>bp0</code></td>
                                                    <td>将断点0（处理器/硬件）设置为VA或RVA值（或模块:: export）。</font><font style="vertical-align: inherit;">也适用于bp1-bp3。</td>
                                                </tr>
                                                <tr>
                                                    <td><code>file-offsets</code></td>
                                                    <td>bp0-bp3中的断点将解释为PE文件偏移而不是RVA</td>
                                                </tr>
                                                <tr>
                                                    <td><code>break-on-return</code></td>
                                                    <td>在冒号分隔的API列表中的返回地址上设置断点</td>
                                                </tr>
                                                <tr>
                                                    <td><code>base-on-api</code></td>
                                                    <td>设置要应用断点的基址（并设置断点）</td>
                                                </tr>
                                                <tr>
                                                    <td><code>depth</code></td>
                                                    <td>设置指令跟踪将进入的深度（默认为0，需要跟踪包）</td>
                                                </tr>
                                                <tr>
                                                    <td><code>count</code></td>
                                                    <td>设置跟踪中的指令数（默认为128，需要跟踪包）</td>
                                                </tr>
                                                <tr>
                                                    <td><code>referrer</code></td>
                                                    <td>指定用于URL任务的引荐来源网址，以覆盖默认的Google引荐来源网址</td>
                                                </tr>
                                                <tr>
                                                    <td><code>loop_detection</code></td>
                                                    <td>将此选项设置为1以启用循环检测（压缩呼叫日志-行为分析）</td>
                                                </tr>
                                                <tr>
                                                    <td><code>static</code></td>
                                                    <td>检查配置是否可以静态提取，如果不能，则发送给vm</td>
                                                </tr>
                                                <tr>
                                                    <td><code>Dl&Exec add headers example</code></td>
                                                    <td>dnl_user_agent："CAPE沙箱"，dnl_referer：google</td>
                                                </tr>
                                                <tr>
                                                    <td><code>servicedesc - for service package</code></td>
                                                    <td>服务说明</td>
                                                </tr>
                                                <tr>
                                                    <td><code>arguments - for service package</code></td>
                                                    <td>服务参数</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <input type="text" class="form-control" id="form_options" name="options"/>
                                </div>
                                {% if config.linux_on_gui %}
                                <div class="form-group">
                                    <label for="form_lin_options">linux 选项 (<a href="#optionlinuxhelp" data-toggle="collapse">帮助</a>)</label>
                                    <div id="optionlinuxhelp" class="collapse">
                                        <p class="text-muted" style="margin-top: 10px;">语法：option1=val1,option2=val2,option3=val3, etc.</p>
                                        <table class="table table-striped table-centered">
                                            <thead>
                                                <tr>
                                                    <th style="text-align: center;">选项</th>
                                                    <th style="text-align: center;">描述</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><code>文件名</code></td>
                                                    <td>文件重命名</td>
                                                </tr>
                                                <tr>
                                                    <td><code>文件</code></td>
                                                    <td>当选择压缩文件时候,选择需要检测的文件。</td>
                                                </tr>
                                                <tr>
                                                    <td><code>密码</code></td>
                                                    <td>有密码保护的文件，需要该参数.</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <input type="text" class="form-control" id="form_lin_options" name="lin_options"/>
                                </div>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label for="form_priority">关注的安全等级</label>
                                <select class="form-control" id="form_priority" name="priority">
                                    <option value="1">低</option>
                                    <option value="2" selected>中</option>
                                    <option value="3">高</option>
                                </select>
                            </div>
                            {% if config.tlp %}
                                <div class="form-group">
                                    <label for="form_tlp">TLP</label>
                                    <select class="form-control" id="form_tlp" name="tlp">
                                        <option value="" selected>白</option>
                                        <option value="Green">绿</option>
                                        <option value="Amber">黄褐色</option>
                                        <option value="Red">红</option>
                                    </select>
                                </div>
                            {% endif %}
                            <div id="non-pcap-2">
                            <div class="form-group">
                                <label for="form_custom">设定运行时间</label>
                                <div class='input-group date' id='datetimepicker1'>
                                    <input type='text' class="form-control" name="clock" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <script type="text/javascript">
                                $(function () {
                                    $('#datetimepicker1').datetimepicker({
                                        format: 'MM-DD-YYYY HH:mm:00'
                                    });
                                });
                            </script>
                            <div class="form-group">
                                <label for="form_custom">自定义</label>
                                <input type="text" class="form-control" id="form_custom" name="custom" />
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="process_dump" />禁用进程转储
                                </label>
                            </div>
                            {% if config.procmemory %}
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="process_memory"/> 全过程转储
                                </label>
                            </div>
                            {% endif %}
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="import_reconstruction" /> 启用进程转储中的导入重建
                                </label>
                            </div>
                            {% if config.memory %}
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="memory" /> 全内存转储 <span class="text-muted"><small>(if the "memory" processing module is enabled, will launch a Volatility analysis)</small></span>
                                </label>
                            </div>
                            {% endif %}
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="enforce_timeout" /> 超时强制退出
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="free" /> 运行时不监控 <span class="text-muted"><small>(关闭很多组件)</small></span>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="disable_cape" /> 禁止自动提交job </small></span>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="norefer" /> 对URL任务不伪造 Referrer
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="nohuman" /> 禁用自动交互
                                </label>
                            </div>
                            {% if config.kernel %}
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="kernel_analysis" /> 开启zer0m0n kernel-based行为分析
                                </label>
                            </div>
                            {% endif %}
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="static"/> 尝试导出配置不依赖VM <span class="text-muted"><small>(如果未提取，则提交给VM)</small></span>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="oldloader" /> 旧的加载程序 <span class="text-muted"><small>(使用旧的（spender）加载程序)</small></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div style="margin-top: 20px;"><button type="submit" class="btn btn-default btn-lg">分析</button></div>
        </form>
    </div>
</div>
{% endblock %}
